---
interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={`max-w-2xl mx-auto reveal ${className}`}>
  <div class="bg-[#FAFAF9] border border-gray-200/60 p-10 relative" style="border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;">
    <slot />
  </div>
</div>
