---
---

<section class="py-40 relative overflow-hidden">
  <div class="blob w-[300px] h-[300px] bg-[#D7E5E5] top-[20%] right-[-10%] organic-shape"></div>
  <div class="max-w-[1150px] mx-auto px-8 text-center">
    <div class="max-w-2xl mx-auto reveal">
      <div class="font-mono mb-8 text-gray-400">LECTURES</div>
      <h2 class="text-3xl md:text-4xl font-serif mb-10">
        Des prismes, <br>pas des certitudes.
      </h2>
      <p class="text-gray-600 leading-relaxed font-light mb-12">
        J'utilise différents outils pour lire les systèmes produit (Theory of Constraints, Opportunity Solution Tree, Jobs-to-be-Done). Mais ils ne sont que des prismes : je les utilise seulement quand ils permettent d'accélérer la clarté.
      </p>
    </div>
  </div>
</section>
